<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twopillar.jiba"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:name="com.twopillar.jiba.common.JBAppliction"  
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name="com.twopillar.jiba.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.twopillar.jiba.activity.MyInfoActivity"/>
        <activity 
            android:name="com.twopillar.jiba.activity.ActionListActivity"/>
        <activity 
            android:name="com.twopillar.jiba.activity.ActionDetailActivity"/>
        <activity 
            android:name="com.twopillar.jiba.activity.MakePlanActivity"/>
        <activity 
            android:name="com.twopillar.jiba.activity.RecommendPlanActivity"/>
        <activity 
            android:name="com.twopillar.jiba.activity.RecommendPlanDetailActivity"/>
        <activity 
            android:name="com.twopillar.jiba.activity.MyPlanListActivity"/>
        <activity 
            android:name="com.twopillar.jiba.activity.SetStartDateActivity"/>
    </application>

</manifest>